<div>
    <a routerLink="/keylist-overview">{{ 'breadcrumb.keyLists' | translate }}</a> / <span>{{ keyList?.name }}</span>
</div>
<h1>{{ keyList?.name }}: {{ 'keyListItems.title' | translate }}</h1>
<h2>{{ 'keyListItems.subtitle' | translate }}</h2>
<p>{{ 'keyListItems.description' | translate }}</p>
<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left">
        <button mat-raised-button (click)="onNew()">{{'general.dialog.new' | translate }}</button>
        <button mat-raised-button (click)="onDeactivate()">{{'general.dialog.deactivate' | translate }}</button>
        <button mat-raised-button (click)="onDelete()">{{'general.dialog.delete' | translate }}</button>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <app-keylist-details-element-list
                fxFlex
                [values]="keyListItems"
                (rowSelected)="onRowSelected($event)">

        </app-keylist-details-element-list>
        <app-keylist-details-element-details
                fxFlex
                [value]="selected"
                (cancelClicked)="onDetailsCancel()"
                (saveClicked)="onDetailsSaved($event)">
        </app-keylist-details-element-details>
    </div>
</div>
